<html lang="en">
  <%- include('head.html'); -%>
  <body>
    <%- include('nav.html'); -%>

    <main>
      <h1>List</h1>
      <p class="mt-24">
        Standard list types
      </p>

      <h2 class="mt-48">Common usage</h2>
      <syntax-highlight>
        <ul class="list list--unordered">
          <li>List item 1</li>
          <li>List item 2</li>
          <li>List item 3</li>
          <li>List item 4</li>
          <li>List item 5</li>
        </ul>
      </syntax-highlight>
    </main>
  </body>
</html>
